h1 {
  font-family: 'Atma';
  font-size: 30px;
  /* width: auto;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px; */
}
 h2{
   font-family: 'Atma';
   font-size: 20px;

 }
p {
  font-family: 'Atma';
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}
article{
  display: block;
}

/*footer for icons:email,html,css,github */
