body{
  margin: auto;
  width:90%;
}
h1,h2{
  font-family: 'Gloria Hallelujah', cursive;
  letter-spacing: 2pt;
  text-align: center;
}
h1{
font-size: 40pt;

}
h2{
  font-size: 25pt;
}
img{
  width: 20%;
  height: 20%;
float: right;
}
p, li{
padding-left: 10px;
  margin-top: 10px;
  font-family: 'Indie Flower', cursive;
  font-size: 12pt;
letter-spacing: 2pt;
}
