
@media only screen and (max-width: 414px) {
  .deviceWidth {width:280px!important; padding:0;}
  .center {text-align: center!important;}

  body{
    margin:0;
    padding: 0;
    background-color: white;
    font-family: 'Nanum Gothic', sans-serif;
  }


  /*  */
  #bucket3{
    position: fixed;
    width:55%;
    height:40%;
    top:19%;
  left:18%;
  }
  .bucket3{
      position: fixed;
  font-family: 'Nanum Gothic 700', sans-serif;
  font-size: 11pt;
  top: 57%;
  left:18%;
  }
  .bucket3_1{
    position: fixed;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 9pt;
  top: 60%;
  left:18%;

  }
  #add{
    position: fixed;
    width:70%;
    height: 5%;
    top:67%;
    left:12%;
  }
  .add1{
    position: fixed;
    width:70%;
    height: 5%;
    top:73%;
    left:12%;

  }
  .add2{
    position: fixed;
    width:80%;
    height: 6%;
    top:80%;
    left:10%;
  }
  #icon{
    position: fixed;
    top:66.5%;
    left:29%;
    font-family: 'Nanum Gothic 700', sans-serif;
    font-size: 12pt;
  }
  .add_1{
    position: fixed;
    top:72.5%;
    left:43%;
    font-family: 'Nanum Gothic 700', sans-serif;
    font-size: 12pt;

  }
  .add_2{
    position: fixed;
    border-top: 1px solid black;
    width:70%;
    top:79%;
    left:13%;
    font-family: 'Nanum Gothic700', sans-serif;
    font-size: 10pt;

  }
  .add_3{
    position: fixed;
    top:82.5%;
    left:13%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 7pt;

  }
  .title1{
    position: fixed;
    top:11%;
    width:100%;
    height:6%;
    left:0%;

  }
.title{
  position: fixed;
  top:11%;
  width:100%;
  height:6%;
  left:10%;
  font-family: 'Nanum Gothic 700', sans-serif;
  font-size: 12pt;

}
.logo{
position: fixed;
  width:100%;
  height: 10%;
  padding: -2%;
}
.bar{
  position: fixed;
  width:100%;
  height:6%;
  padding: -2%;
}
.shopping{
  position: fixed;
  top:3.5%;
  left:85%;

}
#back{
  position: fixed;
  top:11%;
}

#bottom{
  position: fixed;
  width: 100%;
  height: 8%;
  bottom:1px;
}
#bag{
  position: fixed;
  width:8%;
  bottom: 3.5%;
  left:33%;
}
#hat{
  position: fixed;
  width: 8%;
    bottom: 3.5%;
  left:57%;
}
#aboutus{
  position: fixed;
  width: 6%;
  height:4%;
  bottom: 3.5%;
  left:80%;
}
#home{
  position: fixed;
  width: 7%;
  bottom: 3.5%;
  left:10%;
}
.text{
  padding: 2px;
  margin:2px;
  position: fixed;
  bottom:.5px;
  left:8%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 10pt;
}
.text1{
  padding: 2px;
  margin:2px;
  position: fixed;
  bottom:.5px;
  left:33%;
    font-family: 'Nanum Gothic', sans-serif;
      font-size: 10pt;
}

.text2{
  padding: 2px;
  margin:2px;
  position: fixed;
  bottom:.5px;
  left:57%;
    font-family: 'Nanum Gothic', sans-serif;
      font-size: 10pt;
}
.text3{
  padding: 2px;
  margin:2px;
  position: fixed;
  bottom:.5px;
  left:75%;
    font-family: 'Nanum Gothic', sans-serif;
      font-size: 10pt;
}
}
