* {
  box-sizing: border-box;
}

body {
  padding-left: 30%;
  background-color: #ffffcc;
}

h1 {
  left: 25%;
  color: #004d00;
  font-size: 25pt;
  font-family: 'Press Start 2P', cursive;
}

h2{
    display: none;
}

p {
  font-size: 20pt;
  font-family: 'VT323', monospace;
}

#container {
  height: 600px;
  width: 600px;
  background-image: url('../images/back.png');
  position: relative;
}

#mygame {
  position: absolute;
  height: 60px;
  width: 60px;
  left: 0;
  top: 0;
}

#pixel {
  position: absolute;
  height: 60px;
  width: 60px;
}

span {
  color: black;
  margin: 24px 12px;
}

footer {
  bottom: 5px;
  position: fixed;
  left: 38%;
}

footer li, .icon {
  bottom: 5px;
  padding-left: 15px;
  display: inline;
  list-style: none;
}
