/* global variation */

body {
  background-image: url(../images/des157.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 120%;
  font-family: Helvetica, sans-serif;
}

/* input form type setting for labeling, submit, and reset */

h1, article {
  margin-left: 12px;
}

h1 {
  position: relative;
  z-index: 1;
  text-align: right;
  padding-right: 45%;
  font-size: 30pt;
  color: red;
}

div {
  margin: 2%;
}

article {
  position: relative;
  min-width: 700px;
  top: -2px;
}

/*form input elemnts to postition  */

label {
  text-align: right;
  width: 60%;
  display: inline-block;
  color: brown;
  font-size: 20pt;
}

input[type="text"] {
  width: 25%;
  padding: 1%;
  border: none;
  border-radius: 3px;
  border-bottom: 5px brown solid;
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 19pt;
}

/*rest and submit bottom float  */

div:last-child {
  text-align: right;
  padding-right: 10%;
}

input[type="reset"], input[type="submit"] {
  margin: 3%;
  padding: 1.5%;
  border: none;
  border-radius: 3px;
  border-bottom: 4px brown solid;
  font-weight: bold;
  font-size: 15pt;
  background-color: red;
  color: black;
}

/*myMsg for results paragraph  */

section p {
  width: 30%;
  margin-left: 10px;
  bottom: 300px;
  text-align: left;
  padding: 30px;
  background-color: rgb(92, 0, 0);
  color: white;
  position: fixed;
}

/* sectio image to set up the position */

section #image {
  width: 22%;
  margin-left: 60px;
  bottom: 5px;
  position: fixed;
  background-color: hsla(360, 100%, 100%, 0.42);
}

/*show and hide the dispay of message and image  */

.show {
  display: block;
}

.hide {
  display: none;
}

/* icon for the footer validation */

.icon {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
}

/* footer page for icons */

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  clear: both;
  width: 100%;
  padding-right: 60%;
  text-align: center;
}

footer li {
  display: inline;
  list-style: none;
}
